body { 
	background-image: url('../img/bkgnd.jpg');
	background-repeat: fixed;
	background-attachment: fixed;
	font-family: Tahoma, Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 1em;
	color: black;

	scrollbar-base-color: #000;
	scrollbar-face-color: #ccc;
	scrollbar-arrow-color: #fff;
	scrollbar-track-color: #ccc;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #ccc;
	scrollbar-shadow-color: #555;
	scrollbar-darkshadow-color: #ccc;
}

#footer {
	font-size: 0.75em;
	border-top: 2px solid #999;
	padding-top: 2px;
	text-align: center;
	color: #999;
}

a:hover {
	color: #1E90FF;
	text-decoration: underline;
}

a {
	color: blue;
	text-decoration: underline;
}

h3 a:hover,
h3 a,
h2 a:hover,
h2 a {
	color: black;
	text-decoration: none;
}

div.schema,
div.screenshot {
	text-align: center;
}

span.font-fixed {
	font-family: "Courier New";
}

span.shortcut {
	font-family: "Courier New";
}

h1 {
	border-bottom: 3px double black;
}

h2 {
	border-bottom: 1px solid black;
}

p.question {
	font-weight: bold;
}

p.answer-more {
	padding-left: 20px;
}

div.fixed-block {
	background-color: white;
	font-family: "Courier New";
	border: 1px solid black;
	padding: 4px;
}
